.claims {
  display: grid;
  grid-template: 1fr;
}

.claim {
  width: 80vw;
  height: 50px;
  background-color: #65b6b6;
  text-align: center;
  border-radius: 100px 100px 100px 100px;

  margin: 1rem;
  padding-top: 1rem;
}