header {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}

header nav {
  color: #f08135;
  padding: 16px 18px;
}

header nav a {
  color: #f08135;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 16px;
}

header a img {
  max-height: 50px;
  height: 8vw;
}

header button {
  background-color: #f08135;
  color: white;
  border-radius: 5px;
  padding: 16px 18px;
  max-width: 200px;
  max-height: 50px;
}

@media only screen and (max-device-width: 400px) {
  header {
    background-color: white;
    padding: 10px;
    width: 400px;
    display: none;
  }

  header nav {
    color: #f08135;
    padding: 16px 18px;
  }

  header nav a {
    color: #f08135;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 16px;
    display: none;
  }

  header a img {
    height: 100px;
    width: 100%;
  }

  header button {
    background-color: #f08135;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 16px 18px;

    display: none;
  }
}
