.App-header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: stretch;
}

header nav {
  color: #f08135;
}

header nav a {
  color: #f08135;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

header a img {
  max-height: 40px;
  height: 8vw;
}

header button {
  background-color: #ffffff;
  color: white;
  border-radius: 5px;
  max-width: 200px;
  max-height: 50px;
}

@media only screen and (max-device-width: 400px) {
  .App-header {
    background-color: #f08135;
    padding: 10px;
    display: flex;
    justify-content: stretch;
  }

  header nav {
    color: #f08135;
  }

  header nav a {
    color: #f08135;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  header a img {
    height: 50px;
    width: 80%;
  }

  header button {
    background-color: #f08135;
    color: white;
    width: 100%;
    border-radius: 5px;
  }
}
