.banner-image {
  width: 100%;
  object-fit: cover;
}

.contentBlock {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 150px;
}

form {
  display: grid;
  grid-template-areas:
    "username username"
    "password password"
    "login login";
}

.username {
  grid-area: username;
  padding-top: 30px;
}

.password {
  grid-area: password;
  padding-top: 30px;
}

.loginButton {
  background-color: #f08135;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  width: 100%;
  grid-area: login;
}

input {
  height: 100px;
  width: 100%;
  max-height: 50px;
}

.buttons {
  grid-area: login;

  padding-top: 20px;
}

@media only screen and (max-device-width: 400px) {
  body {
  }

  .banner-image {
    object-fit: cover;

    display: none;
  }

  .contentBlock {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .loginButton {
    background-color: #f08135;
    border: none;
    color: #000000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    width: 100%;
  }
}
